html {
  margin: 0;
  height: 100%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
audio {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

code {
  font-family: "Courier Prime", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

main {
  flex: 1;
  overflow: auto;
  overflow-y:scroll;
}

pre {
  overflow-y: auto;
  padding: 0;
  margin: 0;
  padding-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
}

.clean-link a:link,
.clean-link a:visited,
.clean-link a:hover,
.clean-link a:hover {
  color: black;
  text-decoration: none;
}

.clean-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.content {
  padding-bottom: 0.5rem;
}

.content img {
  width: 100%;
  height: auto;
}

.content-container {
  max-width: 42rem;
  margin: auto;
  padding: 0.5rem;
}

.content-header {
  padding-bottom: 0.5rem;
}

.content-header h1,
.content-header h2 {
  margin: 0;
  padding: 0;
}
.content-header p {
  margin: 0;
  padding: 0;

  font-size: 75%;
  margin-top: 0.1rem;
}

.content-body {
  line-height: 1.75em;
}
.content-body p,
.content-footer p {
  margin: 0;
  padding-bottom: 1rem;
}


.content-footer h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
}

.content-footer li {
  padding-bottom: 0.5rem;
}

.hidden {
  display: none;
}

.podcast-card {
  padding-bottom: 1rem;
}

.podcast-card-top {
  margin: auto;
  display: flex;
  max-width: 25rem;
}

.podcast-subs {
  text-align: right;
  margin-left: 0.5rem;
}

.podcast-subs h3 {
  margin: 0;
  padding: 0;
}

.podcast-subs li {
  padding-bottom: 0.5rem;
}

.podcast-card img {
  max-width: 100%;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.podcast-card h1 {
  margin: 0;
  padding: 0;
}
.podcast-card p {
  margin: 0;
  padding: 0;
}

.ribbon {
  min-height: 2rem;
  line-height: 2rem;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

.ribbon a:link,
.ribbon a:visited,
.ribbon a:hover,
.ribbon a:hover {
  color: white;
  text-decoration: none;
}

#top-menu .clean-list,
#bottom-menu .clean-list {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#top-menu .clean-list li,
#bottom-menu .clean-list li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
